<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>

    <!--    <link rel="stylesheet" href="css/style.css">-->

</head>
<body>

<label for="title">Title</label>
<input id="title">
<label for="isbn">ISBN</label>
<input id="isbn">
<label for="author1">Author</label>
<input id="author1">
<label for="publisher">Publisher</label>
<input id="publisher">
<input type="submit" value="Submit">


<br><br><br>
<label for="id">Find book by id:</label>
<input id ="id" type="number">
<button id="button1">Search</button>

<p id="author"></p>
<br><br><br>

<button id="button2">Show all</button>
<div id="task2"></div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="app.js" type="application/javascript"></script>
</body>
</html>
