<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>

    <!--    <link rel="stylesheet" href="css/style.css">-->

</head>
<body>

<input id="title">
<input id="isbn">
<input id="author1">
<input id="publisher">

<p>Find book by id:</p>
<input id ="id" type="number">


<button id="button1">Search</button>

<p id="author"></p>
<br><br><br>

<button id="button2">Show all</button>
<div id="task2"></div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="app.js" type="application/javascript"></script>
</body>
</html>
